body {
     background-color: whitesmoke
}

header { 
    background-color: #03071e;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}
#container{
	display: flex;
    flex-direction: column;
    align-items: center;
    width: 95vw;
    max-width: 1200px;
    margin:0 auto;
}
.buttonMusic{
    align-self: flex-start;
    border-style: hidden;
    border-radius: 4px;
    padding: 5px;
    font-size: 0.5rem;
    background-color: #ffba08;
    color: #000;
    width: 30px;
    margin-top: 5px;
}
.buttonMusic:hover{
	background-color: #b38719;
	cursor: pointer;
}

#torreDeHanoiReset {
	display: flex;
	justify-content: center;
}
#divContador { 
	margin-top: 10px;
}
#buttonReset{
	border-style: hidden;
	border-radius: 4px;
	padding: 10px;
	font-size: 1rem;
	background-color: #ffba08;
	color: #000;
	width: 200px;
	box-shadow: 0 5px #b38719;
	transition: 0.2s;
	margin-top: 20px;
}

#buttonReset:hover{
	background-color: #f48c06;
	cursor: pointer;
}

#buttonReset:active{
	transform: translateY(5px);	
	box-shadow: none;
}

#board{
	display: flex;
	margin: 0 auto;
	justify-content: space-around;
	width: 95%;
	border-bottom: 5px solid #000;
}
.tower{
	height: 200px;
   	width: 10px;
	border: none;
	background-color: #370617;
	display: flex; 
	flex-direction: column-reverse; 
	align-items: center;
	margin: 30px 20px 0;
	cursor: pointer;
	border-radius: 5px 5px 0 0 ;
} 
.disc{
	background-color: white;
	height: 25px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 3px;	
	box-sizing: border-box;
}
.disc1{
	width: 110px;
	background-color: #6a040f;
}
.disc2{
	width: 80px;
	background-color:#9d0208;
}
.disc3{
	width: 60px;
	background-color:#dc2f02;
}
.disc4{
	width: 40px;
	background-color:#f48c06;
}

.alert{
	font-size: 1rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	padding: 15px;
	transition-duration: 0.5s;
	z-index: 1;
	color: white;
	border-style: hidden;
	border-radius: 3px;
	background-color: #dc2f02;
	width: 200px;
	height: fit-content;
	justify-content: center;
}
.alertWin{
	font-size: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	padding: 15px;
	transition-duration: 0.5s;
	z-index: 1;
	color: white;
	border-style: hidden;
	border-radius: 3px;
	background-color: #faa307;
	width: 50px;
	height: 30px;
    }
#contador{
    background-color: #ffba08;
    border-style: hidden;
    border-radius: 4px;
    padding: 10px;
    font-size: 15px;
    color: #000;
    transition: 0.2s;
    box-shadow: 0 2px #b38719;
    margin-top: 20px;
}
.hidden{
	display: none;
	transition-duration: 0.5s;
}

.selected {
	border: 3px solid #ffba08;
}

@media screen and (min-width:600px) {

	#divContador{
		align-self: flex-end;
	}
	.disc {
		height: 30px;
	}
	.disc1{
		width: 200px;
	}
	.disc2{
		width: 160px;
	}
	.disc3{
		width: 120px;
	}
	.disc4{
		width: 80px;
	}
	.tower {
		width: 20px;
		border-radius: 20px 20px 0 0 ;
	}
}